@import "normalize/normalize.css";

h1 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  font-family: sans-serif;
}

ul {
  font-family: sans-serif;
  line-height: 1.5;
}

ol {
  font-family: sans-serif;
  line-height: 1.5;
}

pre {
  background-color: #e3e6e8;
  padding: 0.75rem;
  margin: 1rem;
  line-height: 1.5;
}

code {
  background-color: #e3e6e8;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.navbar {
  background: rgb(3, 251, 243);
  display: flex;
  justify-content: space-between;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.navbar__left a {
  padding-inline: 0.25rem;
}
.navbar__right a {
  padding-inline: 0.25rem;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}
#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding-bottom: 2.5rem;
}

h1.blog__title {
  margin-bottom: 0;
}

h3.title {
  margin-bottom: 0;
}

/* Byline-stuff - date, reading time etc. */
.blog__info {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  color: grey;
}

.summary {
  font-family: sans-serif;
  line-height: 1.5;
}
/* For moving to older or newer content. Lives at the bottom of current content. */
.blog__navigateButtons {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.blog__navigateButtons__newer:only-child {
  margin-left: auto;
}

/* Damn you, footer! */
footer {
  background: rgb(3, 251, 243);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem; /* Footer height */
}

#footer-content {
  padding: 0.25rem;
  text-align: center;
}
