@import "normalize/normalize.css";

.navbar {
  display: flex;
  justify-content: space-between;
}

.blog__navigateButtons {
  display: flex;
  justify-content: space-between;
}

.blog__navigateButtons__newer:only-child {
  margin-left: auto;
}

h3.title {
  margin-bottom: 0;
}

.blog__info {
  margin-top: 0;
}
